/* HEADER */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: 100%;
}

header > h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 80px;
  color: #6c63ff;
}

.sign-in {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 20px;
  background: #6c63ff;
  color: #fff;

  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 52px;

  border: none;
  border-radius: 50px;

  transition: all 0.15s ease-in-out;
}

.sign-in:hover {
  box-shadow: 0 0 15px #6c63ff;
}

/* HERO */
.logo {
  display: block;
  width: 70%;
  height: auto;
}

/* ABOUT */
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 126px;
  color: #fff;
  width: 100%;
  background: #6c63ff;
}

.about-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 80px;
  text-align: center;
}

.about-text {
  width: 80%;
  font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}

/* HELP */
.help {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  gap: 30px;
}

.help-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 80px;
  color: #6c63ff;
  text-align: center;
  width: 100%;
}

.help-text-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.help-text {
  font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
  color: #6c63ff;
}

.o2logo {
  display: block;
  height: 350px;
  width: 350px;
}

/* CALL-TO-ACTION */
.call-to-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px 100px;
  background: #6c63ff;
  width: 100%;
  gap: 78px;
}

.begin {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 80px;

  color: #fff;
}

.cta-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 25px;
  border: none;
  background: #ffffff;
  border-radius: 60px;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  color: #6c63ff;

  transition: all 0.15s ease-in-out;
}

.cta-btn:hover {
  box-shadow: 0 0 15px #fff;
}

/* CREDITS */
.credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.credits > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;

  text-align: center;
  color: #6c63ff;
}

.credits h2 {
  text-align: center;
  margin: 50px;
}

/* BODY */
body {
  padding: 50px 0;
  background-color: white;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  font-family: "Poppins",Verdana, Geneva, Tahoma, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a{
  text-decoration: none !important;
}

html::-webkit-scrollbar{
  display: none;
}
html{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* MEDIA-QUERIES */
@media screen and (max-width: 760px) {
  /* HEADER */
  header {
    padding: 0 20px;
  }
  header > h1 {
    font-size: 30px;
  }

  .sign-in {
    font-size: 20px;
    padding: 10px;
    line-height: 30px;
  }
  /* ABOUT AND HELP*/
  .about,
  .help-text-image {
    padding: 30px 10px;
  }
  .about-heading,
  .help-heading,
  .begin {
    font-size: 30px;
    line-height: 30px;
  }
  .about-text,
  .help-text {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  .help-text-image {
    flex-direction: column-reverse;
  }
  .o2logo {
    width: 60%;
    height: auto;
  }

  /* CALL-TO-ACTION */
  .call-to-action {
    flex-direction: column;
    gap: 20px;
  }
  .call-to-action {
    padding: 30px;
  }

  .cta-btn {
    font-size: 20px;
    padding: 5px 10px;
  }
  /* CREDITS */
  .credits {
    padding: 0;
  }
  body {
    padding: 0;
    gap: 20px;
  }
}
