/* HEADER */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}

header > h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 105px;
  color: #6c63ff;
}

.sign-in {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 20px;
  background: #6c63ff;
  color: #fff;

  font-family: "Poppins",Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 52px;

  border: none;
  border-radius: 50px;
}

/* HERO */
.logo {
  display: block;
  width: 800px;
  height: auto;
}

/* ABOUT */
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 64px 126px;
  color: #fff;
  width: 100%;
  background: #6c63ff;
}

.about-heading {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 85px;
}

.about-text {
  width: 80%;
  font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 55px;
  text-align: center;
  padding: 40px 0;
}

/* HELP */
.help {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.help-heading {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 85px;
  color: #6c63ff;
  text-align: center;
  width: 100%;
}

.help-text-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
  gap: 50px;
  width: 100%;
}

.help-text {
  font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 55px;
  color: #6c63ff;
}

.o2logo {
  display: block;
}
body {
  padding: 50px 0;
  background: url("./assets/background.png");
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
