/* USER NAVIGATION  */
.name {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.user-navigation {
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  background-color: #6c63ff;
  color: #fff;
  align-items: center;
  padding: 30px 0;
}

.profile-logo {
  display: block;
  width: 200px;
}

.user-choices {
  font-weight: 500;
  font-size: 25px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nav-option {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.user-choices button {
  cursor: pointer;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-weight: 700;

  padding: 10px;
  border-radius: 30px;
  border: none;
  background: white;
  color: #5d55fd;
}

/* USER DISPLAY  */
.user-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #584eff;
  width: 70%;
}

.info-list-display{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.display-heading,.equip-heading {
  font-weight: 700;
  font-size: 60px;
}

.display-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1em;
}

/* PROFILE */
.user-display-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: black;
}

.user-display-profile > h2 {
  font-size: 45px;
}

.user-profile-data {
  display: flex;
}

.attributes {
  width: 200px;
}

.detail,
.attribute {
  color: rgb(48, 47, 47);
  font-size: 25px;
  padding: 10px 0;
  font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 1px solid rgb(48, 47, 47);
}

.attribute {
  color: black;
  font-weight: 700;
}

/* EQUIPMENT  */
th,
td {
  border: 1px solid black;
}
table {
  color: black;
  font-size: 20px;
  margin: 0 auto;
  border-collapse: collapse;
}

td,th{
  padding: 10px;
}

/* BODY  */
body {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
